<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1>Test Header</h1>
<form th:action="@{/user}" method="post">
    <label>Username
        <input th:value="${username}" type="text" name="username" />
    </label>
    <label>Email
        <input th:value="${email}" type="email" name="email" />
    </label>
    <label>Password
        <input th:value="${password}" type="password" name="password" />
    </label>
    <label>Verify Password
        <input type="password" name="veryPassword" />
    </label>
    <button>Submit</button>

</form>

</body>
</html>